
<div class="header-container">
  <h2>Moveable Box Generator</h2>
  <p><b>Keyboard Controls:</b></p>
  <div *ngFor="let choice of KeyboardControls">
    <input type="radio" name="offControls" [value]="choice" (change)="changeKeyboardControl(choice)" [checked]="choice == 'On'">{{choice}}
  </div>
  <button class="addBtn" (click)="addNewBox()">Add Box</button>
</div>


<div class="container" id="container-main">
  <canvas class = "box" *ngFor="let box of boxes" id="{{box}}" (click)="selectBox($event)" (keydown)="handleKeyboardEvent($event)"></canvas>
</div>